
.bs-docs-sidebar.affix{
	position:fixed;
	top:20px;
}

body {
	padding: 60px 0 60px 0;
}

tr .ts {
	font-family: verdana,arial,sans-serif;
	font-size:   9px;
	vertical-align: bottom;
}

.logentry {
	padding-bottom: 9px;
	padding-left: 10px;
	font-family: monospace;
    white-space: pre;
}
.err_stream {
	color: red;
}

.return_code {
	color: blue;
}

.failure_code {
	color: red;
}

#sidebar {
	padding: 60px 0 60px 0;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable thead tr th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable tbody tr td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
}
table.gridtable tbody tr th {
	border-width: 1px;
	text-align: left;
	padding: 2px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
